.tabs-container {
    padding: 1.5rem;
}

.read-me {
    background: #222;
    color: white;
    padding: 1rem;
}

.float-right {
    float: right;
}

.previews {
    background: white;
    padding: 1rem 2rem 1rem 2rem;
}

.separator {
    font-weight: bold;
    color: black;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.grip-icon {
    color: gray;
    margin-right: 1rem;
}

.grip-icon:hover {
    cursor: grab;
}