.co-quick-start-tile {
  height: 100%;
  & .catalog-tile-pf-description .has-footer {
    display: block;
    -webkit-line-clamp: unset;
  }

  & .catalog-tile-pf-icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: initial;

    .pf-c-button {
      --pf-c-button--after--BorderColor: transparent;
      color: var(--pf-global--Color--200);
    }
  }
}
