.float-right {
    float: right;
}

.prereq {
    margin-top: 1rem;
}

.remove-link {
    text-align: right;
}

.deactivate-checkbox {
    label {
        font-weight: bold;
        font-size: 15px;
    }
}